@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
  font-family: Inter;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*mixins*/
$background_color_light: #e1d4c9;
$background_color_light_grey: #c1b6ad;
$background_color_dark: #665f55;
$border_color_dark: #665f55;
$border_color_light: #c1b6ad;
$border_color_dark_link: #403f3d;
$text_color_light: #e1d4c9;
$text_color_accent: #b0907a;
$text_color_dark: #403f3d;
/*mixins*/

.body {
  background-color: $background_color_light;
}
.main_container {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.inner_container {
  padding-left: 40px;
  padding-right: 40px;
}
.span {
  color: $text_color_accent;
  font-style: italic;
}

.header {
}
.header_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 21px;
  font-weight: 600;
  line-height: 150%;
}
.nav_logo_link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav_logo_link:hover {
  transform: scale(1.05);
}

.logo {
  max-height: 60px;
}
.menu_block_burger {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.navigation_list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.nav_item {
  cursor: pointer;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
}

.nav_item_link {
  display: flex;
  align-items: center;
  color: $text_color_dark;
  gap: 3px;
}
.nav_underline {
  height: 2px;
  width: 0px;
  background-color: $border_color_dark_link;
  opacity: 1;
  align-self: center;
  transition: all 1s ease;
}
.nav_item:hover > .nav_underline {
  // opacity: 1;
  animation-name: switchSlider;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

@keyframes switchSlider {
  from {
    width: 0;
  } to {
   width: 100%;
  }  
}
.nav_img {
  opacity: 0;
  transition: all 0.5s ease-in;
  width: 0px;
  border-bottom: 3px solid $border_color_dark_link;
}
// .nav_item:hover > .nav_item_link > .nav_img {
//   opacity: 1;
//   width: 20px;
// }


.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.5s ease-in;
  pointer-events: none;
  color: $text_color_dark;
}

.menu:hover {
  
}
.menu_title {
}
.menu_img {
}
.main {
  flex: 1 0 auto;
}

.menu_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 38.5px;
}

.menu_block_title {
  max-width: 800px;
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_dark;
  text-align: center;
  letter-spacing: 0.4px;
}
.header_span {
  letter-spacing: 1.1px;
}
.menu_block_buttons {
  display: flex;
  gap: 16px;
}
.menu_button {
  padding: 8px 16px 8px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid $border_color_light;
  border-radius: 100px;
  color: $text_color_dark;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.menu_button:hover {
  background-color: $background_color_dark;
  color: $text_color_light;
}
.active_button {
  pointer-events: none;
  background-color: $background_color_dark;
  color: $text_color_light;
  user-select: none;
}
.menu_button_img_container {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $background_color_light_grey;
  border-radius: 50%;
}

.menu_button:hover > .menu_button_img_container {
  background-color: $background_color_light;
}
.active_button > .menu_button_img_container {
  background-color: $background_color_light;
}
.menu_button_img {
}
.menu_button_text {
  font-weight: 600;
  line-height: 150%;
}
.menu_items_container {
  display: flex;
  flex-direction: column;
}
.menu_items_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 1fr);
  row-gap: 38px;
  column-gap: 40px;
}

.block_coffee {
}

.block_tea {
}

.block_dessert {
}

.display_none_menu {
  display: none;
}
.menu_item {
  border: 1px solid $border_color_light;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu_item_img {
  width: 100%;
  border-radius: 40px;
  padding-top: 155px;
  padding-bottom: 155px;
  background-position: 50% 50%;
  background-size: 110.25% auto;
  transition: all 1s ease-in;
}
.menu_item:hover > .menu_item_img {
  background-size: 100% auto;
}
.item_coffee_1 {
  background-image: url(./../pictures/coffee-menu/coffee-1.jpg);
}
.item_coffee_2 {
  background-image: url(./../pictures/coffee-menu/coffee-2.jpg);
}
.item_coffee_3 {
  background-image: url(./../pictures/coffee-menu/coffee-3.jpg);
}
.item_coffee_4 {
  background-image: url(./../pictures/coffee-menu/coffee-4.jpg);
}
.item_coffee_5 {
  background-image: url(./../pictures/coffee-menu/coffee-5.jpg);
}
.item_coffee_6 {
  background-image: url(./../pictures/coffee-menu/coffee-6.jpg);
}
.item_coffee_7 {
  background-image: url(./../pictures/coffee-menu/coffee-7.jpg);
}
.item_coffee_8 {
  background-image: url(./../pictures/coffee-menu/coffee-8.jpg);
}

.item_tea_1 {
  background-image: url(./../pictures/tea-menu/tea-1.png);
}
.item_tea_2 {
  background-image: url(./../pictures/tea-menu/tea-2.png);
}
.item_tea_3 {
  background-image: url(./../pictures/tea-menu/tea-3.png);
}
.item_tea_4 {
  background-image: url(./../pictures/tea-menu/tea-4.png);
}

.item_dessert_1 {
  background-image: url(./../pictures/dessert-menu/dessert-1.png);
}
.item_dessert_2 {
  background-image: url(./../pictures/dessert-menu/dessert-2.png);
}
.item_dessert_3 {
  background-image: url(./../pictures/dessert-menu/dessert-3.png);
}
.item_dessert_4 {
  background-image: url(./../pictures/dessert-menu/dessert-4.png);
}
.item_dessert_5 {
  background-image: url(./../pictures/dessert-menu/dessert-5.png);
}
.item_dessert_6 {
  background-image: url(./../pictures/dessert-menu/dessert-6.png);
}
.item_dessert_7 {
  background-image: url(./../pictures/dessert-menu/dessert-7.png);
}
.item_dessert_8 {
  background-image: url(./../pictures/dessert-menu/dessert-8.png);
}

.menu_item_content {
  flex-grow: 1;
  padding: 20px 20px 19px 20px;
  $color: $text_color_dark;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
}
.menu_item_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu_item_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}
.menu_item_description {
  line-height: 150%;
}
.menu_item_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.footer {
  padding-top: 100px;
  padding-bottom: 40px;
}
.footer_block {
  border-radius: 40px;
  background-color: $background_color_dark;
  padding: 100px;
  display: flex;
  gap: 100px;
  align-items: center;
}
.footer_media_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}
.footer_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_light;
  letter-spacing: 0.65px;
}

.footer_media {
  display: flex;
  gap: 12px;
}
.media_item {
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid $border_color_light;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.media_item:hover {
  background-color: $background_color_light;
}

.media_img {
  height: 24px;
  width: 24px;
}

.media_twitter {
  background-image: url(./../../assets/icons/twitter.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_twitter {
  background-image: url(./../../assets/icons/twitter-dark.svg);
}
.media_instagram {
  background-image: url(./../../assets/icons/instagram.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_instagram {
  background-image: url(./../../assets/icons/instagram-dark.svg);
}

.media_facebook {
  background-image: url(./../../assets/icons/facebook.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_facebook {
  background-image: url(./../../assets/icons/facebook-dark.svg);
}
.footer_contacts_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_light;
}
.contacts_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: auto;
}

.contact_1 {

}

.contact_2 {

}

.contact_3 {
 pointer-events: none;
}

.contact_border {
  align-self: center;
  margin-right: 80px;
  width: 70%;
  height: 2px;
  width: 0px;
  transition: all 0.5s ease;
  background-color: $background_color_light;
}
.contact_item:hover > .contact_border {
  animation-name: footer;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

@keyframes footer {
  from {
    width: 0;
  } to {
   width: 70%;
  }  
}

.contact_link {
  display: flex;
  align-items: center;
  gap: 6px;
}
.contact_img {
  transition: all 0.5s ease;
}

.contact_text {
  font-weight: 600;
  line-height: 150%;
  color: $text_color_light;
  transition: all 0.5s ease;
  letter-spacing: 0.25px;
}
