@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*Normalize*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  box-sizing: border-box;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  position: relative;
  font-family: Inter;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.bigred {
  font-size: 20px;
  color: red;
}

/*Normalize*/

/*mixins*/
$background_color_light: #e1d4c9;
$background_color_light_grey: #c1b6ad;
$background_color_dark_grey: #403f3d;
$background_color_dark: #665f55;
$border_color_dark: #665f55;
$border_color_light: #c1b6ad;
$border_color_dark_link: #403f3d;
$text_color_light: #e1d4c9;
$text_color_accent: #b0907a;
$text_color_dark: #403f3d;
$overlay-color: rgba(41, 41, 41, 0.4);
/*mixins*/

.body {
  background-color: $background_color_light;
}
.main_container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

.inner_container {
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 720px) {
  .inner_container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 500px) {
  .inner_container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.span {
  color: $text_color_accent;
  font-style: italic;
}

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: $overlay-color;
  top: 101px;
}

.header {
  position: relative;
}
.header_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 600;
  line-height: 150%;
  position: relative;
  z-index: 3;
}

.nav_logo_link {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.nav_logo_link:hover {
  transform: scale(1.05);
}

.logo {
  max-height: 60px;
}
.burger {
  display: none;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border: 1px solid $border_color_dark;
  flex-direction: column;
  gap: 4.5px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 1s ease;
}

.burger_open {
  position: relative;
}

.burger_line {
  width: 16px;
  height: 1.5px;
  background-color: $background_color_dark_grey;
  transition: all 1s ease;
}

.burger_line_open_1 {
  position: absolute;
  rotate: 45deg;
}
.burger_line_open_2 {
  position: absolute;
  rotate: -45deg;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
    transition: all 0.5s ease;
  }

  .burger:hover {
    // transform: scale(1.1);
  }
}

.menu_block_burger {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .menu_block_burger {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 100px;
    right: -100%;
    top: 100%;
    z-index: 5;
    padding: 60px 40px 448px 40px;
    width: 100%;
    transition: all 1s ease;
    background-color: $background_color_light;
    align-items: center;
    z-index: 3;
  }
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.navigation_list {
  display: flex;
  align-items: center;
  gap: 42px;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  .navigation_list {
    flex-direction: column;
    gap: 60px;
  }
}


@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
    align-items: center;
  }
  .navigation_list {
    flex-direction: column;
    gap: 60px;
  }

  .nav_item {
    cursor: pointer;
    transition: all 0.5s ease-in;
    display: flex;
    flex-direction: column;
  }
  
  .nav_item_link {
    font-size: 32px;
font-weight: 600;
line-height: 125%; 
  }
}

.nav_item {
  cursor: pointer;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: column;
}

.nav_item_link {
  display: flex;
  align-items: center;
  color: $text_color_dark;
  gap: 3px;
}
.nav_underline {
  height: 2px;
  // width: 180px;
  background-color: $border_color_dark_link;
  opacity: 1;
  align-self: center;
  transition: all 1s ease;
}
.nav_item:hover > .nav_underline {
  // opacity: 1;
  animation-name: navHover;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes navHover {
  from {
    width: 0%;
  } to {
   width: 100%;
  }  
}

.nav_img {
  opacity: 0;
  transition: all 0.5s ease-in;
  width: 0px;
  border-bottom: 3px solid $border_color_dark_link;
}
// .nav_item:hover > .nav_item_link > .nav_img {
//   opacity: 1;
//   width: 20px;
// }

.menu_navigation {
  display: flex;
  flex-direction: column;
  cursor: pointer; 
  transition: all 0.5s ease-in;
 }


.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  color: $text_color_dark;
}

.menu_underline {
  height: 2px;
  width: 0px;
  background-color: $border_color_dark_link;
  opacity: 1;
  align-self: center;
  transition: all 1s ease;
}
.menu_navigation:hover > .menu_underline {
  animation-name: navHover;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

@media (max-width: 768px) {
  .menu {
    justify-content: center;
    align-items: flex-start;
  }
}


.menu_title {
}
.menu_img {
}
.main {
  flex: 1 0 auto;
}
.enjoy {
}
@media (max-width: 620px) {
  .menu {
    font-size: 32px;
font-weight: 600;
line-height: 125%;
  }
  .menu_img {
    height: 40px;
    width: 40px;
  }
}

.enjoy_block {
  background-image: url(./../../assets/pictures/img-hero.jpg);
  background-position: 50% 50%;
  background-size: 100%;
  padding: 100.5px;
  border-radius: 40px;
}

@media (max-width: 1340px) {
  .enjoy_block {
    background-size: 130%;
  }
}

@media (max-width: 1130px) {
  .enjoy_block {
    background-size: 150%; 
  }
}
@media (max-width: 900px) {
  .enjoy_block {
    background-size: 180%; 
  }
}


@media (max-width: 1000px) {
  .enjoy_block {
    background-image: url(./../../assets/pictures/img-hero.jpg);
    background-position: 50% 50%;
    padding: 100px 60px 100px 60px;
  }
}
@media (max-width: 720px) {
  .enjoy_block {
    background-position: 50% 50%;
    background-size: 250%;
    padding: 100px 30px 100px 30px;
  }
}

@media (max-width: 500px) {
  .enjoy_block {
    padding: 60px 16px 60px 16px;
  }
}

.enjoy_content_block {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.enjoy_title {
  font-size: 72px;
  font-weight: 600;
  line-height: 105%;
  color: $text_color_light;
  letter-spacing: 1.05px;
}

@media (max-width: 720px) {
  .enjoy_title {
font-size: 42px;
font-weight: 600;
line-height: 115%; 
  color: $text_color_light;
  letter-spacing: 1.05px;
}
}

@media (max-width: 760px) {
  .enjoy_title {
    font-size: 64px;
  }
}

@media (max-width: 720px) {
  .enjoy_title {
    font-size: 58px;
  }
}

@media (max-width: 620px) {
  .enjoy_title {
    font-size: 52px;
  }
}

@media (max-width: 550px) {
  .enjoy_title {
    font-size: 48px;
  }
}

@media (max-width: 500px) {
  .enjoy_title {
    font-size: 42px;
  }
}



.enjoy_content {
  color: $text_color_light;
  line-height: 150%;
}
.enjoy_button {
  display: flex;
  justify-content: center;
  gap: 8px;
  max-width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  background-color: $background_color_light;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.enjoy_button_text {
  font-weight: 600;
  line-height: 150%;
  color: $text_color_dark;
}

.enjoy_button_img {
  width: 0;
  transition: all 0.5s ease-in;
}

.enjoy_button:hover > .enjoy_button_img {
  width: 24px;
}

@media (max-width: 1000px) {
  .enjoy_button_img {
    width: 24px;
  }
}

.coffee {
}
.coffee_block {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 500px) {
  .coffee_block {
    gap: 41px;
  }
}
.coffee_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  text-align: center;
  letter-spacing: 0.7px;
}
@media (max-width: 760px) {
  .coffee_title {
    font-size: 52px;
  }
}

@media (max-width: 720px) {
  .coffee_title {
    font-size: 48px;
  }
}

@media (max-width: 620px) {
  .coffee_title {
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .coffee_title {
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .coffee_title {
    font-size: 32px;
  }
}


.slider_block {
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 720px) {
  .slider_block {
    gap: 20px;
  }
}
@media (max-width: 660px) {
  .slider_block {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .slider_block {
    gap: 0px;
  }
}
.arrow {
  height: 60px;
  width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid $border_color_dark;
  border-radius: 50%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 4;
}
.pointer_events {
  pointer-events: none;
  cursor: auto;
}
@media (max-width: 900px) {
  .arrow {
    // margin-top: -16px;
  }
}


@media (max-width: 600px) {
  .arrow {
    display: none;
  }
  .slider_block {
    justify-content: center;
  }
}

.arrow_left {
  background-image: url(./../../assets/icons/arrow-left.svg);
  transition: all 0.5s ease-in;
}
.arrow_right {
  background-image: url(./../../assets/icons/arrow-right.svg);
  transition: all 0.5s ease-in;
}

.arrow_left:hover {
  background-color: $background_color_dark;
  border-color: $border_color_dark;
  background-image: url(./../../assets/icons/arrow-left-light.png);
}
.arrow_right:hover {
  background-color: $background_color_dark;
  border-color: $border_color_dark;
  background-image: url(./../../assets/icons/arrow-right-light.png);
}
.img_arrow {
}
.slider {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  max-width: 480px;
  height: 656.4px;
  overflow: hidden;
  position: relative;
  transition: all 1.5s ease;
}

@media (max-width: 780px) {
  .slider {
    height: 640px;
  }
}

@media (max-width: 720px) {
  .slider {
    height: 620px;
  }
}
@media (max-width: 620px) {
  .slider {
    height: 574px;
  }
}

@media (max-width: 600px) {
  .slider {
    height: 554px;
  }
}

@media (max-width: 550px) {
  .slider {
    height: 544px;
  }
}
@media (max-width: 550px) {
  .slider {
    height: 534px;
  }
}


.slider_container {
  // width: 100%;
  display: flex;
  justify-content: center;
   position: absolute; 
   transition: all 2s ease;
  top:0;
  left:0;
}
.slide {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  gap: 20px; 
 
}

// .display_none_slide {
//   display: none;
// }
.slide_img_container {
 width: 100%;
}
.slide_img {
  max-width: 480px;
  max-height: 480px;
}

@media (max-width: 760px) {
  .slide_img {
    max-width: 430px;
  max-height: 430px;
   
  }
  .slider {
    max-width: 430px;
  }
}

@media (max-width: 700px) {
  .slide_img {
    max-width: 410px;
  max-height: 410px;
   
  }
  .slider {
    max-width: 410px;
  }
}
@media (max-width: 660px) {
  .slide_img {
    max-width: 390px;
  max-height: 390px;
   
  }
  .slider {
    max-width: 390px;
  }
}

@media (max-width: 620px) {
  .slide_img {
    max-width: 370px;
  max-height: 370px;
   
  }
  .slider {
    max-width: 370px;
  }
}
@media (max-width: 600px) {
  .slide_img {
    max-width: 360px;
  max-height: 360px;
   
  }
  .slider {
    max-width: 360px;
  }
}

@media (max-width: 500px) {
  .slide_img {
    max-width: 350px;
  max-height: 350px;
   
  }
  .slider {
    max-width: 350px;
  }
}


.slide_content {
  font-size: 16px;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.slide_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_dark;
  text-align: center;
  letter-spacing: 0.6px;
}
.slide_text {
  font-size: 16px;
  line-height: 150%;
  color: $text_color_dark;
  text-align: center;
}
.slide_price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_dark;
  text-align: center;
}

.slider_buttons_block {
  display: flex;
  gap: 12px;
  align-self: center;
}
@media (max-width: 500px) {
  .slider_buttons_block {
    margin-top: -4px;
  }
}
.slider_button {
  width: 40px;
  height: 4px;
  background-position: 0px 0px;
  background-color: $background_color_light_grey;
}
.slider_background {
  background-color: $background_color_dark;
}

.animation_start {
animation-name: switchSlider;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}

.inner_background {
  
  height: 4px;
  width: 0px; 
}

@keyframes switchSlider {
  from {
    width: 0px;
  } to {
   width: 40px;
  }  
}
.slider_button_1 {
  width: 40px;  
}
.slider_button_2 {
  
}
.slider_button_3 {
}

.about {
}
.about_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_dark;
  letter-spacing: 0.467px;
}

@media (max-width: 760px) {
  .about_title{
    font-size: 52px;
  }
}

@media (max-width: 720px) {
  .about_title{
    font-size: 48px;
  }
}

@media (max-width: 620px) {
  .about_title{
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .about_title{
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .about_title{
    font-size: 32px;
  }
}

.about_title_span {
}
.about_images_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.28fr 1fr;
  column-gap: 40px;
  row-gap: 40px;
}

@media (max-width: 1200px) {
  .about_images_block {
    grid-template-rows: 1fr 0.16fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }
}

@media (max-width: 1100px) {
  .about_images_block {
    grid-template-rows: 1fr 0.08fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media (max-width: 1000px) {
  .about_images_block {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 760px) {
  .about_images_block {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.about_img_container {
  padding-top: 215px;
  padding-bottom: 215px;
  background-position: 50% 50%;
  background-size: 110% auto;
  border-radius: 20px;
  cursor: pointer;
  transition: all 1s ease-in;
}

@media (max-width: 1000px) {
  .about_img_container {
    padding-top: 295px;
    padding-bottom: 295px;
    background-position: 50% 50%;
    background-size: 100% auto;
  }
}

@media (max-width: 780px) {
  .about_img_container {
    padding-top: 295px;
    padding-bottom: 295px;
    background-position: 50% 50%;
    background-size: 110% auto;
    background-size: 726px auto;
  }
}

@media (max-width: 660px) {
  .about_img_container {
    background-position: 50% 50%;
    background-size: 726px auto;
  }
}
.about_img_container:hover {
  background-size: 100% auto;
}

.about_img_1 {
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(./../../assets/pictures/about-1.jpg);
  background-position: 50% 50%;
}
.about_img_2 {
  background-image: url(./../../assets/pictures/about-3.jpg);
}
.about_img_3 {
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url(./../../assets/pictures/about-4.jpg);
}
.about_img_4 {
  background-image: url(./../../assets/pictures/about-2.jpg);
  padding-bottom: 0px;
}
@media (max-width: 1000px) {
  .about_img_1 {
    background-position: 50% 50%;
    order: 1;
  }
  .about_img_2 {
    display: none;
    order: 3;
  }

  .about_img_3 {
    order: 2;
  }
  .about_img_4 {
    padding-bottom: 344px;
    order: 4;
    display: none;
  }
}

.mobile {
}
.mobile_block {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1000px) {
  .mobile_block {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: start;
  }
}

@media (max-width: 700px) {
  .mobile_block{
    gap: 80px;
  }
}
@media (max-width: 650px) {
  .mobile_block{
    gap: 60px;
  }
}
@media (max-width: 600px) {
  .mobile_block{
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .mobile_block{
    gap: 40px;
  }
}

.mobile_description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
}
@media (max-width: 1000px) {
  .mobile_description {
    max-width: 688px;
  }
}
.mobile_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.85px;
  color: $text_color_dark;
}
@media (max-width: 760px) {
  .mobile_title{
    font-size: 52px;
  }
}

@media (max-width: 720px) {
  .mobile_title{
    font-size: 48px;
  }
}

@media (max-width: 620px) {
  .mobile_title{
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .mobile_title{
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .mobile_title{
    font-size: 32px;
    letter-spacing: 0.45px;
  }
}

.mobile_title_span {
}
.mobile_text {
  line-height: 150%;
  color: $text_color_dark;
}
.mobile_buttons {
  display: flex;
  gap: 20px;
}
@media (max-width: 500px) {
  .mobile_buttons {
    flex-direction: column;
  }
}


.mobile_button {
  width: 200px;
  padding: 12px 20px 12px 20px;
  display: flex;
  gap: 8px;
  border-radius: 100px;
  border: 1px solid $border_color_dark;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.mobile_button:hover {
  background-color: $background_color_dark;
}
.mobile_button_img {
  height: 36px;
  width: 36px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.apple {
  background-image: url(./../../assets/icons/apple.svg);
  transition: all 0.5s ease-in;
}
.mobile_button:hover > .apple {
  background-image: url(./../../assets/icons/apple-light.svg);
}
.android {
  background-image: url(./../../assets/icons/android.svg);
  transition: all 0.5s ease-in;
}
.mobile_button:hover > .android {
  background-image: url(./../../assets/icons/android-light.svg);
}
.mobile_button_context {
  font-weight: 600;
  line-height: 150%;
  color: $text_color_dark;
  transition: all 0.5s ease-in;
}

.mobile_button:hover > .mobile_button_context {
  color: $text_color_light;
}
.mobile_button_title {
  font-size: 10px;
  font-weight: 600;
  line-height: 140%;
}
.mobile_button:hover > .mobile_button_title {
  color: $text_color_light;
}
.mibile_button_text {
}
.mobile_img_block {
}

@media (max-width: 1000px) {
  .mobile_img_block {
    align-self: center;
  }
}
.mobiles_img {
  max-width: 630px;
  width: 100%;
}
.footer {
  padding-bottom: 40px;
}
.footer_block {
  border-radius: 40px;
  background-color: $background_color_dark;
  padding: 100px;
  display: flex;
  gap: 100px;
  align-items: center;
}

@media (max-width: 1200px) {
  .footer_block {
    gap: 20px;
  }
}

@media (max-width: 1100px) {
  .footer_block {
    flex-direction: column;
    align-items: start;
    gap: 100px;
  }
}
@media (max-width: 1000px) {
  .footer_block {
    padding: 100px 60px 107px 60px;
  }
}
@media (max-width: 720px) {
  .footer_block {
    padding: 100px 30px 100px 30px;
    gap: 80px;
  }
}
@media (max-width: 600px) {
  .footer_block {
    gap: 60px;
  }
}

@media (max-width: 550px) {
  .footer_block {
    gap: 50px;
  }
}

@media (max-width: 500px) {
  .footer_block {
    padding: 60px 16px 64px 16px;
    gap: 40px;
  }
}
.footer_media_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 530px;
}
.footer_title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_light;
  letter-spacing: 0.65px;
}

@media (max-width: 760px) {
  .footer_title{
    font-size: 52px;
  }
}

@media (max-width: 720px) {
  .footer_title{
    font-size: 48px;
  }
}

@media (max-width: 620px) {
  .footer_title{
    font-size: 42px;
  }
}

@media (max-width: 550px) {
  .footer_title{
    font-size: 36px;
  }
}

@media (max-width: 500px) {
  .footer_title{
    font-size: 32px;
    letter-spacing: 0.3px;
  }
}


.footer_media {
  display: flex;
  gap: 12px;
}
.media_item {
  padding: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid $border_color_light;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
.media_item:hover {
  background-color: $background_color_light;
}

.media_img {
  height: 24px;
  width: 24px;
}

.media_twitter {
  background-image: url(./../../assets/icons/twitter.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_twitter {
  background-image: url(./../../assets/icons/twitter-dark.svg);
}
.media_instagram {
  background-image: url(./../../assets/icons/instagram.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_instagram {
  background-image: url(./../../assets/icons/instagram-dark.svg);
}

.media_facebook {
  background-image: url(./../../assets/icons/facebook.svg);
  transition: all 0.5s ease-in;
}

.media_item:hover .media_facebook {
  background-image: url(./../../assets/icons/facebook-dark.svg);
}
.footer_contacts_block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contacts_title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: $text_color_light;
}
.contacts_list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contact_item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: auto;
}


.contact_1 {

}

.contact_2 {

}

.contact_3 {
 pointer-events: none;
}
.contact_border {
  align-self: center;
  margin-right: 80px;
  width: 70%;
  background-color: $background_color_light;
  height: 2px;
  width: 0px;
  transition: all 0.5s ease;
}
.contact_item:hover > .contact_border {
  animation-name: footer;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0;

}

@keyframes footer {
  from {
    width: 0;
  } to {
   width: 70%;
  }  
}

.contact_link {
  display: flex;
  align-items: center;
  gap: 6px;
  box-sizing: border-box;
}
.contact_img {
  transition: all 0.5s ease;
}

.contact_text {
  font-weight: 600;
  line-height: 150%;
  color: $text_color_light;
  transition: all 0.5s ease;
  letter-spacing: 0.25px;
}
